@font-face {
    font-family: 'Pjeskiem';
    src: url('Pjeskiem.otf');
}

.label {
    -fx-font-family: 'Pjeskiem';
    -fx-font-size: 20;
}

.button .text {
    -fx-font-family: 'Pjeskiem';
}
.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Pjeskiem";
}